S3.properties
more.S3.properties
model.properties
S3BucketName.txt
target
persistence-db
log
.settings
.project
.classpath
deploy.txt
filter-*.properties
*.war
*.jar
*deploy.sh
*.swp
*~
*.log
puOverrides.properties
